<div class='herosheet' *ngIf='hero'>
    <div class='appearance' >
        <img width="350" src="./assets/img/avatars/body_{{hero.id}}.png"/>
    </div>
    <h2 class='heroname'>{{hero.name | uppercase}}</h2>
    <h2 class='heroxp'>{{hero.xp}} XP</h2>
    <div *ngIf='heroAchievements?.length > 0' class='unlockedachievements'>
        <div class='achievementlogo' *ngFor='let ach of heroAchievements'>
            <img src='./assets/img/achievements/{{ach.ach_id}}.png'/>
        </div>
    </div>
</div>
