.achievementsgrid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 20px;
}
.achievementcard {
    background-color: #EFEEEE;
    padding: 20px;
}
.achievementlogo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #F26627;
    float: left;
}
.achievementcard h2 {
    font-size: 16px;
    color: #325D79;
}