.heroesgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    margin: 10px;
    min-width: 50%;
    float: left;
}
.herocard {
    max-width: 200px;
    background-color: #f2bb13;
}
.selected {
    background-color: rgb(184, 126, 88) !important;
}