.heroesgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 20px;
    min-width: 40%;
    float: left;
}
.herocard {
    max-width: 200px;
    background-color: #EFEEEE;
}
.selected {
    background-color: #98D7D1;
}